bin
build.xml
gen
local.properties
proguard-project.txt
project.properties
*.class
*.apk
*.bak
out/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
out/

# Mac
.DS_Store

# Maven
log/
target/
